<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Lista Produtos</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="style/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Pagination -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

</head>
<body>

    <nav>
        <div class="nav-wrapper deep-purple darken-1">
            <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Produtos Cadastrados</a>
            <ul class="right hide-on-med-and-down" style="margin-top:-10px">
                <li><a style="color: black" href="/"><i class="material-icons">navigate_before</i>Voltar</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <table id="myTable">
            <thead>
            <tr>
                <th>Código</th>
                <th>Categoria</th>
                <th>Nome</th>
                <th>Descricão</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td><span th:text="${produto.codigo}"></span></td>
                <td><span th:text="${produto.categoria.nome}"></span></td>
                <td><span th:text="${produto.nome}"></span></td>
                <td><span th:text="${produto.descricao}"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="col-md-12 center text-center">
            <span class="left" id="total_reg"></span>
            <ul class="pagination pager right" id="myPager"></ul>
        </div>
    </div>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="style/js/pagination.js"></script>
</body>
</html>