<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Lista Operadores</title>

  <title>Lista Operadores</title>

  <link rel="stylesheet" href="style/table-responsive.css">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="style/materialize/css/materialize.min.css" media="screen,projection"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body>
  <nav>
    <div class="nav-wrapper deep-purple darken-1">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Cadastro Usuario</a>
      <ul class="right hide-on-med-and-down" style="margin-top:-10px">
        <li><a style="color: black" href="/"><i class="material-icons">navigate_before</i>Voltar</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h5>Cadastro Usuário</h5>
    <div class="offset-s12">
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="username">Nome Completo</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">CPF</label>
            <div class="controls">
              <input type="text" id="cpf" name="cpf" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="login">Login</label>
            <div class="controls">
              <input type="text" id="login" name="login" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Senha</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="confirm-password">Confirmação de Senha</label>
            <div class="controls">
              <input type="password" id="confirm-password" name="confirm-password" placeholder="" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success right">Cadastrar</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</body>